<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483870613068-36u0tv29jh0nc2n9pve2f1o4n2f2uhid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483870613068-36u0tv29jh0nc2n9pve2f1o4n2f2uhid</string>
	<key>API_KEY</key>
	<string>AIzaSyAbPvVG5ccGm8OGLu823Q5bhafaXtC8Lgk</string>
	<key>GCM_SENDER_ID</key>
	<string>483870613068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ctrlReal</string>
	<key>PROJECT_ID</key>
	<string>projectpi-ctrlreal</string>
	<key>STORAGE_BUCKET</key>
	<string>projectpi-ctrlreal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483870613068:ios:9ce5f354695aae51fc9ee9</string>
</dict>
</plist>